body{
	background-color:white;
}

#table0{
	border-collapse:collapse;
	position:absolute;
	left:1%;
	top:0%;
	width:100%;
	height:10%;
	border:2px solid gray;
}

#container1{
	position:absolute;
	left:0%;
	top:10%;
	width:100%;
	height:88%;
	overflow:hidden; 
}
#container2{
	position:absolute;
	left:0px;
	top:0px;
	width:0px;
	height:0px;
	overflow:hidden;
}
#container3{
	position:absolute;
	left:0px;
	top:0px;
	width:0px;
	height:0px;
	overflow:hidden;
}
#container4{
	position:absolute;
	left:0px;
	top:0px;
	width:0px;
	height:0px;
	overflow:hidden;
}
#table1{
	border-collapse:collapse;
	position:absolute;
	left:1%;
	top:1%;
	width:99%;
	height:99%;
	border:2px solid gray;
}
#table2{
	border-collapse:collapse;
	position:absolute;
	left:1%;
	top:1%;
	width:99%;
	height:99%;
	border:2px solid gray;
}
#table3{
	border-collapse:collapse;
	position:absolute;
	left:1%;
	top:1%;
	width:99%;
	height:99%;
	border:2px solid gray;
}
#table4{
	border-collapse:collapse;
	position:absolute;
	left:1%;
	top:1%;
	width:99%;
	height:99%;
	border:2px solid gray;
}